body {
    background-color: lightblue;
    text-align: center;
    background-image: url(hayalet.png);
    background-repeat:space;
    background-position: left;
    background-attachment: fixed;
    


    

}
.calculator {
    text-align: center;
    padding: 5px;
    width: 300px;
    height: 450px;
    padding: 25px;
    box-sizing: border-box;
    background-color: rgb(76, 101, 109);
    margin: auto;
    border-style: solid;
    border-color: palegoldenrod;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-radius: 30px;

} 

.rakam {
    color: black;
    background-color: rgba(187, 188, 154, 0.938);
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-style: solid;
    border-radius: 5px;
}
.esittir {
    color: rgb(216, 231, 234);
    background-color: rgb(53, 62, 43);
    margin: 5px;
    size: 15px;
    width: 40px;
    height: 50px;
    font-size: 30px;
    border-style: solid;
    border-radius: 5px;
}
.islem {
    color: yellow;
    background-color: rgb(28, 32, 32);
    margin: 5px;
    width: 40px;
    height: 50px;
    font-size: 30px;
    border-style: solid;
    border-radius: 5px;
}
.nokta {
    color: rgb(241, 231, 231);
    background-color: rgb(37, 58, 56);
    margin-left: 30px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-style: solid;
    border-radius: 5px;
}
.silme {
    color: rgb(255, 255, 255);
    background-color: rgb(48, 38, 41);
    width: 50px;
    height: 40px;
    font-size: 25px;
    margin-left: 6px;
    margin-right: 6px;
    border-style: solid;
    border-radius: 5px;
}
.sifir {
    color: black;
    background-color: rgba(187, 188, 154, 0.938);
    margin-left: 23px;
    margin-top: 6px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-style: solid;
    border-radius: 5px;
}
.bosluk {
    color: rgb(248, 242, 242);
    background-color: rgb(13, 14, 14);
    font-size: 40px;
    width: 250px;
    height: 50px;
    border-style: solid;
    border-radius: 5px;
}
.button-row {
    margin-top: 8px;
}
.baslik {
    font-size: 50px;
    font-family:"Sofia", sans-serif;
    
}